<h1>To-Do List</h1>

<input type="text" class="result">
<button>Add</button>
      
<ul>
  <li>List</li>
  <li>Goes </li>
  <li>Here</li>
</ul>

<div style="margin-top:10rem; margin-left: 2rem">
<h2>Task List</h2>
  <ol>

     <li>Add items to list using service and Observable</li>
     <li>Remove items from list</li>
     <li>Make the C button work</li>
     <li>Make the calculator multiply</li>
     <li>Make the calculator divide</li>
     <li>When you push a button, make the button turn blue for 2 seconds</li>
     <li>When you push a button, make every other button orange for 2 seconds.</li>
     <li>Add an on/off switch to the UI and, using an Angular service, disable every button (not counting the on/off switch) when the calculator is off
</li>
  </ol>

</div>
